tr {
  outline: auto;
}
@media screen and (max-width: 600px) {
  th,
  td,
  tr {
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: right;
    /* margin-left: auto; */
  }
  tbody,
  td {
    background-color: rgb(183, 210, 241);
    color: black;
    margin-top: 3px;
  }
  th,
  thead {
    justify-content: flex-start;
    background-color: rgb(56, 13, 105);
    color: aliceblue !important;
    border-left: 1px;
  }
  tr {
    outline: auto;
  }
}
